/PBO_Praktik4/nbproject/private/
/PBO_Praktik4/build/
/PBO_Praktik6/nbproject/private/
/PBO_Praktik6/build/
/PBO_Praktik7/nbproject/private/
/PBO_Praktik7/build/
/bab_5_stack/nbproject/private/
/PBO_Praktik10/nbproject/private/
/PBO_Praktik10/build/
/Project GUI/nbproject/private/
/ProjectGUI/nbproject/private/
/ProjectGUI/build/
/ProjectGUI/dist/
/bab_8_binary_tree/nbproject/private/
